﻿@using Tube.am.ViewModels
@model GlobalViewModel

<div class="left col-md-2 col-sm-3 hidden-xs">
    <ul class="main clear">
        <li>
            @if (Model.Page == "home")
            {
                <a href="/Home/Index" class="active">
                    <i class="fa fa-home"></i>
                    Գլխավոր
                </a>
            }
            else
            {
                <a href="/Home/Index">
                    <i class="fa fa-home"></i>
                    Գլխավոր
                </a>
            }
        </li>
        <li>
            @if (UserModelView.LoggedInUser.Id == null)
            {
                <a href="/Profile/Login">
                    <i class="fa fa-play-circle"></i>
                    Իմ Ալիքը
                </a>
            }
            else
            {
                if (Model.Page == "mychannel")
                {
                    <a href="/Channel/Index?id=@UserModelView.LoggedInUser.Id" class="active">
                        <i class="fa fa-play-circle"></i>
                        Իմ Ալիքը
                    </a>
                }
                else
                {
                    <a href="/Channel/Index?id=@UserModelView.LoggedInUser.Id">
                        <i class="fa fa-play-circle"></i>
                        Իմ Ալիքը
                    </a>
                }
            }
        </li>
        <li>
            @if (UserModelView.LoggedInUser.Id == null)
            {
                <a href="/Channel/Index?id=@UserModelView.LoggedInUser.Id">
                    <i class="fa fa-hourglass-end"></i>
                    Պատմություն
                </a>
            }
            else
            {
                if (Model.Page == "history")
                {
                    <a href="/Channel/HistoryVideos" class="active">
                        <i class="fa fa-hourglass-end"></i>
                        Պատմություն
                    </a>
                }
                else
                {
                    <a href="/Channel/HistoryVideos">
                        <i class="fa fa-hourglass-end"></i>
                        Պատմություն
                    </a>
                }
            }
        </li>
        <li>
            @if (UserModelView.LoggedInUser.Id == null)
            {
                <a href="/Channel/Index?id=@UserModelView.LoggedInUser.Id">
                    <i class="fa fa-thumbs-o-up"></i>
                    Հավանածներ
                </a>
            }
            else
            {
                if (Model.Page == "liked")
                {
                    <a href="/Channel/LikedVideos" class="active">
                        <i class="fa fa-thumbs-o-up"></i>
                        Հավանածներ
                    </a>
                }
                else
                {
                    <a href="/Channel/LikedVideos">
                        <i class="fa fa-thumbs-o-up"></i>
                        Հավանածներ
                    </a>
                }
            }
        </li>
        <li>
            @if (UserModelView.LoggedInUser.Id == null)
            {
                <a href="/Channel/Index?id=@UserModelView.LoggedInUser.Id">
                    <i class="fa fa-clock-o"></i>
                    Դիտել ավելի ուշ
                </a>
            }
            else
            {
                if (Model.Page == "watchlater")
                {
                    <a href="/Channel/WatchLaterVideos" class="active">
                        <i class="fa fa-clock-o"></i>
                        Դիտել ավելի ուշ
                    </a>
                }
                else
                {
                    <a href="/Channel/WatchLaterVideos">
                        <i class="fa fa-clock-o"></i>
                        Դիտել ավելի ուշ
                    </a>
                }
            }
        </li>
    </ul>
    @if (Tube.am.ViewModels.UserModelView.LoggedInUser.Id != null)
    {
        if (Model.UserPlaylists.Any())
        {
            <p class="title">
                Իմ Ցուցակները
            </p>
            <ul class="clear">
                @foreach (var item in Model.UserPlaylists)
                {
                    <li>
                        <a href="/Home/Video?id=@(item.Videos[0].Id)&playlistId=@item.Id">@item.Name</a>
                    </li>
                }
            </ul>
        }
        if (Model.UsersSubscribedChannels.Any())
        {
            <p class="title">
                Բաժանորդագրություններ
            </p>
            <ul class="clear playlist">
                @foreach (var item in Model.UsersSubscribedChannels)
                {
                    <li>
                        <a href="/Channel/Index?id=@item.Key.Id">
                            <div class="thumb">
                                <img src="@item.Key.ChannelImageLink" alt="@item.Key.ChannelImageAlt">
                            </div>
                            @item.Key.ChannelName
                            @if (item.Value != 0)
                            {
                                <span>
                                    @item.Value
                                </span>
                            }
                        </a>
                    </li>
                }
            </ul>
        }
    }
</div>