#player *{
	outline: 0!important;
}
#player .jw-text{
	padding: 0 10px;
	color: white;
	font-size: 12px;
}
#player .jw-controlbar{
	width: 100%;
	border-top: 0;
	height: 32px
}
#player .jw-controlbar-center-group{
	position: absolute;
	top: -8px;
	left: 0;
	right: 0;
	padding: 0;
	height: 8px;
}
#player .jw-active-option{
	background-color: #d33c29;
}
#player .jw-display-icon-container.jw-background-color.jw-reset{
    border-radius: 50%;
    padding: 25px;
    background-color: transparent;
}
#player .jw-tooltip-time{
	height: 8px;
}
#player .jw-controlbar-center-group:hover + #player .jw-knob {
	height: 40px;
}
#player .jw-background-color{
	background: rgba(44,44,44, 0.65);
}
#player .jw-controlbar-center-group .jw-background-color{
	background-color: transparent;
	height: 8px;
}
#player .jw-controlbar{
	padding: 0;
}
#player .jw-controlbar-left-group{
	float: left;
} 
#player .jw-controlbar-right-group{
	float: right
}
#player .jw-controlbar-left-group .jw-icon-inline,
#player .jw-controlbar-left-group .jw-icon-tooltip {
    padding: 0 5px;
    border-right: 1px solid #555555;
}
#player .jw-controlbar-right-group .jw-icon-inline,
#player .jw-controlbar-right-group .jw-icon-tooltip {
    padding: 0 10px;
    border-left: 1px solid #555555;
}
#player .jw-slider-horizontal{
}
#player .jw-slider-horizontal:hover #player .jw-knob{
	height: 40px;
}
#player .jw-icon-fullscreen:before{
	content: 
}
#player .jw-progress{
	background-color: #d33c29;
	height: 8px;
}
#player .jw-buffer{
	background-color: white;
	height: 8px;
}
#player .jw-slider-time .jw-knob {
    background-color: #d33c29;
    border-radius: 50%;
	height: 18px;
    width: 18px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#player .jw-slider-vertical .jw-knob{
	display: none;
}
#player .jw-slider-container{
	display: block;
}
#player .jw-slider-time{
	top: -6px;
}
#player .jw-slider-horizontal .jw-slider-container{
	height: 8px;
}
#player .jw-slider-horizontal .jw-rail{
	height: 8px;
}
#player .jw-time-tip,
#player .jw-volume-tip,
#player .jw-menu{
	border: 0;
}
#player .jw-volume-tip,
#player .jw-menu{
	top: -4px;
}
#player .jw-menu{}
#player .jw-icon-inline.jw-icon-volume{
	display: none;
}

#player .jw-icon-playback,
#player .jw-icon-volume,
#player .jw-icon-fullscreen,
#player .jw-icon-hd{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 32px;
    height: 32px;
    color: #eaeaea;
}
#player .jw-icon-hd .jw-option{
	padding: 15px 8px;
    line-height: 0;
}
#player .jw-icon-hd .jw-option:last-child{
	display: none;
}
#player .jw-icon-hd.jw-off:before{
	color: #eaeaea
}
#player .jw-icon-hd:before{
	content: '\f013';
}
#player .jw-icon-display:before{
	font-size: 60px;
	color: #d33c29;
}
#player .jw-icon-playback:before{
	content: "\f04c";
}
#player.jw-state-paused .jw-icon-playback:before{
	content: "\f04b";
}
#player .jw-icon-volume:before{
	content: "\f028";
}
#player .jw-icon-volume.jw-off:before{
	content: "\f026";
}
#player .jw-icon-volume.jw-off:after{
	content: "\00d7";
    font-size: 10px;
    font-family: 'Futura';
    margin: 0 0 0 0px;
    position: relative;
    top: -2px;
    font-weight: bold;
}
#player .jw-icon-fullscreen:before{
	content: "\f065";
}
#player .jw-icon-fullscreen.jw-off:before{
	content: "\f066";
}
