//////////////////////
////LESS VARIABLES////
//////////////////////

//Colors
@black: #343434;
@red: #d33c29;
@green: #5FC000;
@border_gray: #EBEBEB;
@text_gray: #a2a1a1;
@icon_blue: #3DAEDA;

//Media
@desktop: ~"(max-width: 1200px)";
@tablet: ~"(max-width: 992px)";
@mobile: ~"(max-width: 768px)";
@phone: ~"(max-width: 660px)";

//Sizes
@header_height: 70px;
@footer_height: 50px;


//Clases
.full_height {
    height: 100%;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.text_overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input[type="text"],
textarea {
    height: 35px;
    border: 1px solid @border_gray;
    outline: 0;
    border-radius: 3px;
    width: 100%;
    padding: 0 15px;
}

.movies {
    .aspect:before {
        padding-top: 146.77%;
    }
}

.aspect {
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    img,
    .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: auto;
    }
}
///////////////////////
////DEFAULT CLASSES////
///////////////////////

html, body {
    font-family: Roboto,arial,sans-serif;
    -webkit-overflow-scrolling: touch;
    .full_height;

    @media @tablet {
        .backdrop {
            width: 100%;
            height: 100%;
            background-color: rgba(22,22,22,0.65);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 10;
            overflow: hidden;
            display: none;
        }
    }
}

#wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: @footer_height;
    background-color: #F3F4F6;
}

#content {
    overflow: hidden;
    padding-bottom: 65px;

    section {
        overflow: hidden;
        margin: 15px 0 30px 0;
    }
}

button {
    border: 1px solid black;
    outline: 0;
}

.animate,
.btn {
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.btn {
    background-color: @red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
        color: white;
        background-color: @red - #111111;
    }
}

.button.invert {
    background-color: transparent;
    border: 2px solid @red;
    color: @red;

    &:hover {
        color: white;
        background-color: @red;
    }
}

ul.clear {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.clear {
    clear: both;
}


////////////////////
////HEADER START////
////////////////////

header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: @header_height;
    z-index: 100;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.05);
    position: relative;


    & > * {
        padding: 0 15px;
    }

    & > div:not(:last-child) {
        border-right: 1px solid @border_gray;

        @media @phone {
        }
    }

    .search_btn {
        display: none;
        border-right: 1px solid @border_gray;
    }

    @media @tablet {
        height: @header_height + 45px;
    }

    @media @mobile {
        height: @header_height;

        .search_btn {
            height: 100%;
            padding: 15px 20px 15px 5px;
            display: block;
            color: @red;
            position: absolute;
            top: 0px;
            left: 15px;
            text-align: center;
            cursor: pointer;
            font-size: 26px;
        }
    }

    #logo {
        .full_height;
        padding: 10px 0;
        float: left;
        font-weight: bold;
        margin-left: 0;
        font-size: 24px;
        text-align: center;

        @media @tablet {
            height: 100%;
        }

        @media @mobile {
            width: 200px;
            margin: 0 auto;
            float: none;
            border: 0;
        }

        a {
            color: @black;
            text-decoration: none;
            display: block;
            height: 100%;

            img {
                .full_height;
                vertical-align: top;
            }
        }
    }

    #search {
        .full_height;
        float: left;
        padding: 0 15px;

        @media @tablet {
            height: auto;
        }

        .hide_btn {
            display: none;
            float: right;
            font-size: 32px;
            color: white;
        }

        @media @mobile {
            position: absolute;
            left: 0;
            top: -@header_height;
            height: @header_height;
            z-index: 12;
            width: 100%;
            background-color: white;

            form {
                float: left;
            }

            .hide_btn {
                display: block;
            }
        }

        form {
            margin-top: 17px;
            position: relative;

            @media @mobile {
                width: 100%;
            }

            input {
                height: 35px;
                border: 1px solid @border_gray;
                outline: 0;
                border-radius: 3px;
                width: 100%;
                padding: 0 15px;
            }

            button {
                height: 35px;
                width: 35px;
                text-decoration: center;
                position: absolute;
                right: 0;
                top: 0;
                border: 0;
                border-left: 1px solid @border_gray;
                background-color: transparent;
                outline: 0;
                color: @red;
            }
        }
    }

    #navbar {
        padding: 0;


        @media @mobile {
            position: absolute;
            top: 0px;
            right: 10px;
            bottom: 0;
            padding-left: 10px;
            padding-top: 4px;
            z-index: 11;
            width: auto;
            border-top: 0 !important;
            border-left: 1px solid @border_gray;
        }

        @media @tablet {
            border-top: 1px solid @border_gray;
        }

        .burger {
            display: none;

            @media @mobile {
                display: block;
                margin: 10px 0 0 0;
                position: relative;
                float: right;
                padding: 9px 10px;
                background-color: transparent;
                background-image: none;
                border: 1px solid transparent;

                span.icon-bar {
                    background-color: @red;
                    width: 30px;
                    height: 3px;
                    border-radius: 0px;
                    margin: 0 0 5px 0;
                    position: relative;
                    display: block;
                }

                &.active {
                    position: fixed;
                    right: 15px;

                    span.middle {
                        opacity: 0;
                    }

                    span.top {
                        -webkit-o-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        top: 8px;
                    }

                    span.bottom {
                        -webkit-o-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        top: -8px;
                    }
                }
            }
        }

        > ul.menu {
            width: 100%;
            .full_height;

            li {
                float: left;

                @media @mobile {
                    display: block;
                    width: 100%;
                }

                a {
                    line-height: 40px;
                    color: @text_gray;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    @media @tablet {
                        line-height: 10px;
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }

                &.additional {
                    text-transform: uppercase;
                    float: right;

                    &.upload {
                        font-weight: bold;
                        background-color: @red;

                        a {
                            color: white;
                        }
                    }

                    &.login {
                        color: @black;
                    }
                }
            }

            @media @mobile {
                width: 150px;
                position: fixed;
                right: -100%;
                top: -5px;
                z-index: 0;
                padding-top: @header_height;
                background-color: @black;
            }
        }
    }
}

/////////////////////
////SECTION START////
/////////////////////


section#main {
    overflow: hidden;
    padding: 0;

    > div {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .left {
        padding-left: 0;
        padding-right: 0;


        p.title {
            font-weight: bold;
            font-size: 16px;
            border-left: 3px solid #d33c29;
            margin: 15px;
            padding-left: 10px;

            a {
                color: @black;
            }

            .text_overflow;
        }

        li {
            a {
                width: 100%;
                display: block;
                padding-right: 15px;
                padding-left: 15px;
                color: @text_gray;
                padding-left: 25px;
                padding-right: 15px;
                display: block;
                text-decoration: none;
                .text_overflow;
                .animate;

                &:hover,
                &.active {
                    background-color: @red;
                    color: white;
                    .animate;

                    i {
                        color: white;
                        .animate;
                    }
                }

                i {
                    color: @icon_blue;
                    font-size: 18px;
                }
            }
        }

        .main {
            li {
                a {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        .playlist {

            @item_height: 20px;

            line-height: @item_height;
            .text_overflow;

            li {
                margin-bottom: 5px;
                position: relative;

                a {
                    padding-right: 35px;
                }
            }

            span {
                float: right;
                height: @item_height;
                padding: 0 5px;
                font-size: 12px;
                background-color: @red;
                color: white;
                line-height: @item_height;
                text-align: center;
                position: absolute;
                right: 5px;
                top: 0;
            }

            .thumb {
                float: left;
                margin-right: 10px;

                img {
                    width: @item_height;
                    height: @item_height;
                }
            }

            p {
                margin: 0;
                float: left;
                padding: 10px;
            }
        }
    }

    .content {
    }
}

#content {
    background-color: white;
    padding: 15px;

    h2.title {
        border-bottom: 1px solid @border_gray;
        font-size: 18px;
        padding: 10px 0;
        margin-top: 0;

        a {
            color: @red;
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            vertical-align: top;

            img {
                margin-right: 10px;
                height: 20px;
                float: left;
                width: 20px;
            }
        }

        .add_playlist {
            color: white;
            float: right;
            display: block;
            text-align: center;

            @media @mobile {
                margin-top: 10px;
                float: none;
            }
        }
    }

    .block {
        margin-bottom: 25px;
        overflow: hidden;
    }
}

.videos.list {
    .video {
        width: 100%;

        .title {
            height: auto;
        }

        .thumb {
            width: 20%;
            float: left;
            margin-right: 10px;

            @media @mobile {
                width: 100%;
                float: none;
            }
        }

        .views {
            margin-top: 0;
        }

        .info {

            p {
                font-size: 12px;
                color: #A0A0A0;
                height: 50px;
                overflow: hidden;
            }
        }
    }
}

.video {
    overflow: hidden;
    padding: 0 5px;
    margin-bottom: 10px;

    a {
        display: block;
        text-decoration: none;
    }

    @media @phone {
        width: 100%;
    }

    .thumb {
        position: relative;
        overflow: hidden;

        .duration {
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px;
            font-size: 12px;
            position: absolute;
        }
    }

    .info_holder {
        overflow: hidden;
        border-bottom: 2px solid @red;
        padding-bottom: 5px;
    }

    .title {
        color: @black;
        font-weight: bold;
        height: 40px;
        overflow: hidden;
    }

    .info {
        font-size: 10px;

        .channel {
            color: @red;
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 12px;
        }

        .views {
            font-weight: bold;
            float: left;
            color: @black;
        }

        .added {
            float: right;
            color: @text_gray;
        }
    }
}

.playlists {

    ul {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 30%;

        li {
            height: 33.3333333%;
            position: relative;

            img {
                height: 100%;
                width: auto;
            }

            .layer {
                height: 100%;
                width: 100%;
                position: absolute;
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(211, 60, 41, 0.5);
                color: white;
            }
        }
    }
}

.big {
    overflow: hidden;
    margin: 0 -5px;

    .video {

        .info_holder {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
            left: 5px;
            right: 0;
            border-left: 3px solid @red;
            margin: 0 5px 0 0;
            padding-bottom: 0;
            border-bottom: 0;

            @media @mobile {
                left: 5px;
                right: 0;
            }

            .title {
                color: white;
                text-decoration: none;
                padding: 5px;
                height: auto;
            }

            .info {
                background-color: rgba(0, 0, 0, 0.5);
                overflow: hidden;
                padding: 5px;

                .channel {
                    float: left;
                    color: @red;
                    font-size: 12px;
                    margin-bottom: 0;
                    font-weight: normal;
                }

                .views {
                    color: @text_gray;
                    float: right;
                    font-size: 12px;
                    margin-top: 0;
                }
            }
        }
    }
}

.channel-content-wrapper {
    .settings {
        input {
            margin-bottom: 10px;
        }

        textarea {
            padding: 10px 15px;
            min-height: 100px;
            resize: vertical;
        }

        .button {
            float: right;
        }
    }
}

#channel {
    margin: -25px 0 0 -15px;
    position: relative;

    @media @mobile {
        margin: -25px -15px 0 -15px;
    }


    & ~ .settings {
        input {
            margin-bottom: 10px;
        }

        textarea {
            padding: 10px 15px;
            min-height: 100px;
            resize: vertical;
        }

        .button {
            float: right;
        }
    }

    .menu {
        width: 100%;
        text-align: left;
        margin-top: 70px;
        background-color: #ECECEC;


        li {
            display: inline-block;

            a {
                display: block;
                padding: 15px 10px;
                color: @black;
                font-weight: bold;
                text-transform: capitalize;
                border-bottom: 3px solid #ECECEC;
                .animate;

                &.active,
                &:hover {
                    background-color: #ECECEC - #111111;
                    text-decoration: none;
                    border-color: @red;
                    .animate;
                }
            }
        }
    }

    .poster {
        position: relative;
        overflow: hidden;
        height: 300px;
        background-image: url(../img/poster.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .info {
        .profile {
            height: 120px;
            width: 120px;
            position: absolute;
            left: 20px;
            top: 230px;
            border: 4px solid white;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }

            @media @mobile {
                left: 0;
                right: 0;
                margin: auto;
                top: 180px;
            }
        }

        .stats {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            position: absolute;
            left: 140px;
            top: 240px;

            @media @mobile {
                position: static;
            }

            li {
                color: white;
                font-weight: bold;
                display: block;

                span {
                    font-weight: normal;
                }
            }
        }

        .title {
            font-size: 22px;
            float: left;
            padding: 10px;
            font-weight: bold;
            margin-left: 140px;

            @media @mobile {
                margin: 0;
            }
        }

        .button {
            float: right;
            color: white;
            outline: 0;
            border: 0;
            background-color: @red;
            padding: 5px 10px;
            top: 255px;
            right: 15px;
            position: absolute;

            @media @mobile {
                top: 15px;
            }

            i:first-child {
                display: none;
            }

            i {
                display: none;
                float: left;
                line-height: 20px;
                margin-right: 10px;
            }

            &.subscribed {
                i:last-child {
                    display: block;
                }

                &:hover i:first-child {
                    display: block;
                }

                &:hover i:last-child {
                    display: none;
                }
            }
        }
    }
}

.playlist_items {
    background-color: @black;
    margin-top: 20px;

    h2.title {
        color: white;
    }

    .video {
        a {
            color: white;
        }

        .channel {
            color: #eeeeee;
        }

        .info_holder {
            border: 0;
        }
    }

    .slick-arrow {
        position: absolute;
        border: 0;
        color: white;
        top: 0;
        width: 23px;
        bottom: 0;
        background-color: rgb(37, 37, 37);
    }

    .slick-prev {
        left: -19px;
        z-index: 100;
    }

    .slick-next {
        right: -18px;
    }

    .slick-disabled {
        display: none !important;
    }
}

#player {
    h1.title {
        font-size: 28px;
        margin: 10px 0 20px 0;
    }

    .player_section {
        padding: 0;
    }

    .info {
        padding: 0;

        & > div {
            overflow: hidden;

            @media @phone {
                width: 100%;
            }
        }

        .lists {


            ul {
                overflow-y: scroll;
                max-height: 150px;
            }
        }
    }

    .channel {
        overflow: hidden;
        padding: 0;

        & > div {
            @media @phone {
                width: 100%;
            }
        }

        @media @tablet {
            margin-top: 15px;
        }

        .thumb {
            text-decoration: none;

            .img {
                float: left;
            }

            a.title {
                vertical-align: top;
                font-size: 16px;
                color: @red;
                margin-left: 10px;
                .text_overflow;
                float: left;
            }

            img {
                height: 55px;
                width: 55px;
            }
        }
    }

    .button {
        color: white;
        outline: 0;
        border: 0;
        background-color: @red;
        padding: 5px 10px;
        margin: 5px 0 0 0;

        i:first-child {
            display: none;
        }

        i {
            display: none;
            float: left;
            line-height: 20px;
            margin-right: 10px;
        }

        &.subscribed {
            i:last-child {
                display: block;
            }

            &:hover i:first-child {
                display: block;
            }

            &:hover i:last-child {
                display: none;
            }
        }
    }
}

.description {
    padding: 0;

    p {
        max-height: 100px;
        overflow: hidden;
        .animate;
    }

    .expand {
        border-top: 2px solid @border_gray;
        text-align: center;
        color: @red;
        cursor: pointer;
    }
}

.section {
    span.title {
        font-weight: bold;
        color: @black;
        margin: 15px 0 10px 0;
        display: block;
    }

    .share {
        font-size: 32px;

        li {
            display: inline-block;
        }
    }

    .new {
        position: relative;
        margin-top: 10px;

        input {
            padding: 5px 35px 5px 10px;
            width: 100%;
        }

        button {
            background-color: @red;
            color: white;
            outline: 0;
            border: 0;
            height: 34px;
            width: 34px;
            margin-left: -5px;
            font-weight: bold;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .playlist {

        a {
            color: @text_gray;
            text-decoration: none;
        }
    }
}

.views {
    margin-top: 15px;

    span {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }

    .hands {
        a {
            text-decoration: none;
        }

        a.like {
            color: @green;
            float: left;
        }

        a.dislike {
            color: @red;
            float: right;
        }

        overflow: hidden;
    }

    .bar {
        background-color: gray;
        height: 4px;

        .liked {
            background-color: @green;
            width: 52%;
            height: 4px;
            float: left;
        }

        .dislike {
            background-color: @red;
            width: 48%;
            height: 4px;
            float: right;
        }
    }
}

.button {
    background-color: @red;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    color: white;
}

div.login {
    margin-bottom: 25px;

    input[type="text"],
    input[type="password"] {
        border: 1px solid @border_gray;
        padding: 5px 10px;
        width: 80%;
        margin-bottom: 10px;

        @media @phone {
            width: 100%;
        }
    }

    input[type="checkbox"] {
    }

    label {
        display: block;
    }

    .button {
        margin-top: 15px;
    }
}

.upload_info {
    .progress {
        background-color: #F3F4F6;
        height: 30px;
        width: 100%;

        .uploaded {
            background-color: @red;
            text-align: right;
            padding-right: 15px;
            line-height: 30px;
            width: 52%;
            color: white;
            font-weight: bold;
        }
    }

    .thumb {
        
        img {
            width: 100%;
        }

        a {
            padding: 10px;
        }

        a.active {
            img {
                outline: 3px solid @red;
            }
        }
    }

    .input_holder {
        margin-bottom: 10px;

        textarea {
            min-height: 100px;
            padding-top: 5px;
        }
    }

    .settings {
        button {
            float: right;
            margin-left: 10px;
            border: 2px solid @red;
        }
    }
}

.status {
    text-align: center;
    color: #343434;
    font-weight: bold;
    font-style: italic;
}

.upload {

    form {
        margin-bottom: 15px;
    }

    .box__dragndrop,
    .box__uploading,
    .box__success,
    .box__error {
        display: none;
    }

    input[type="file"] {
        display: none;
    }

    label {
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

    .box.has-advanced-upload {
        background-color: white;
        outline: 2px dashed @red;
        outline-offset: -10px;
    }

    .box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

    .box.is-dragover {
        background-color: grey;
    }

    .container {
        width: 100%;
        max-width: 680px; /* 800 */
        text-align: center;
        margin: 0 auto;
    }

    .container h1 {
        font-size: 42px;
        font-weight: 300;
        color: #0f3c4b;
        margin-bottom: 40px;
    }

    .container h1 a:hover,
    .container h1 a:focus {
        color: #39bfd3;
    }

    .container nav {
        margin-bottom: 40px;
    }

    .container nav a {
        border-bottom: 2px solid #c8dadf;
        display: inline-block;
        padding: 4px 8px;
        margin: 0 5px;
    }

    .container nav a.is-selected {
        font-weight: 700;
        color: #39bfd3;
        border-bottom-color: currentColor;
    }

    .container nav a:not( .is-selected ):hover,
    .container nav a:not( .is-selected ):focus {
        border-bottom-color: #0f3c4b;
    }

    .container footer {
        color: #92b0b3;
        margin-top: 40px;
    }

    .container footer p + p {
        margin-top: 1em;
    }

    .container footer a:hover,
    .container footer a:focus {
        color: #39bfd3;
    }

    .box {
        font-size: 1.25rem; /* 20 */
        background-color: #c8dadf;
        position: relative;
        padding: 100px 20px;
    }

    .box.has-advanced-upload {
        outline: 2px dashed @red;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
    }

    .box.is-dragover {
        outline-offset: -20px;
        outline-color: #c8dadf;
        background-color: #fff;
    }

    .box__dragndrop,
    .box__icon {
        display: none;
    }

    .box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

    .box.has-advanced-upload .box__icon {
        width: 100%;
        height: 80px;
        fill: @red;
        display: block;
        margin-bottom: 40px;
    }

    .box.is-uploading .box__input,
    .box.is-success .box__input,
    .box.is-error .box__input {
        visibility: hidden;
    }

    .box__uploading,
    .box__success,
    .box__error {
        display: none;
    }

    .box.is-uploading .box__uploading,
    .box.is-success .box__success,
    .box.is-error .box__error {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        text-align: center;
        font-weight: bold;
        -webkit-transform: translateY( -50% );
        transform: translateY( -50% );
    }

    .box__uploading {
        font-style: italic;
    }

    .box__success {
        -webkit-animation: appear-from-inside .25s ease-in-out;
        animation: appear-from-inside .25s ease-in-out;
    }

    @-webkit-keyframes appear-from-inside {
        from {
            -webkit-transform: translateY( -50% ) scale( 0 );
        }

        75% {
            -webkit-transform: translateY( -50% ) scale( 1.1 );
        }

        to {
            -webkit-transform: translateY( -50% ) scale( 1 );
        }
    }

    @keyframes appear-from-inside {
        from {
            transform: translateY( -50% ) scale( 0 );
        }

        75% {
            transform: translateY( -50% ) scale( 1.1 );
        }

        to {
            transform: translateY( -50% ) scale( 1 );
        }
    }

    .box__restart {
        font-weight: 700;
    }

    .box__restart:focus,
    .box__restart:hover {
        color: #39bfd3;
    }

    .js .box__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .js .box__file + label {
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
    }

    .js .box__file + label:hover strong,
    .box__file:focus + label strong,
    .box__file.has-focus + label strong {
        color: #39bfd3;
    }

    .js .box__file:focus + label,
    .js .box__file.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    .js .box__file + label * {
        /* pointer-events: none; */ /* in case of FastClick lib use */
    }

    .no-js .box__file + label {
        display: none;
    }

    .no-js .box__button {
        display: block;
    }

    .box__button {
        font-weight: 700;
        color: #e5edf1;
        background-color: @red;
        border: 0;
        color: white;
        display: block;
        padding: 8px 16px;
        margin: 40px auto 0;
    }

    .box__button:hover,
    .box__button:focus {
        background-color: @red - #111111;
    }
}

////////////////////
////FOOTER START////
////////////////////


footer {
    height: @footer_height;
    background-color: @black - #222222;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: white;


    ul {
        width: 100%;
        text-align: center;

        li {
            display: inline-block;

            a {
                color: white;

                &:hover {
                    color: white;
                }
            }

            &:not(:last-child):after {
                content: ' |';
            }
        }
    }
}
