﻿.full_height {
  height: 100%;
}
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.text_overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
input[type="text"],
textarea {
  height: 35px;
  border: 1px solid #EBEBEB;
  outline: 0;
  border-radius: 3px;
  width: 100%;
  padding: 0 15px;
}
.movies .aspect:before {
  padding-top: 146.77%;
}
.aspect {
  position: relative;
}
.aspect:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.aspect img,
.aspect .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: auto;
}
html,
body {
  font-family: Roboto, arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
@media (max-width: 992px) {
  html .backdrop,
  body .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.65);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    display: none;
  }
}
#wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  background-color: #F3F4F6;
}
#content {
  overflow: hidden;
  padding-bottom: 65px;
}
#content section {
  overflow: hidden;
  margin: 15px 0 30px 0;
}
button {
  border: 1px solid black;
  outline: 0;
}
.animate,
.btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn {
  background-color: #d33c29;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}
.btn:hover {
  color: white;
  background-color: #c22b18;
}
.button.invert {
  background-color: transparent;
  border: 2px solid #d33c29;
  color: #d33c29;
}
.button.invert:hover {
  color: white;
  background-color: #d33c29;
}
ul.clear {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.clear {
  clear: both;
}
header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 70px;
  z-index: 100;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
header > * {
  padding: 0 15px;
}
header > div:not(:last-child) {
  border-right: 1px solid #EBEBEB;
}
header .search_btn {
  display: none;
  border-right: 1px solid #EBEBEB;
}
@media (max-width: 992px) {
  header {
    height: 115px;
  }
}
@media (max-width: 768px) {
  header {
    height: 70px;
  }
  header .search_btn {
    height: 100%;
    padding: 15px 20px 15px 5px;
    display: block;
    color: #d33c29;
    position: absolute;
    top: 0px;
    left: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
  }
}
header #logo {
  height: 100%;
  padding: 10px 0;
  float: left;
  font-weight: bold;
  margin-left: 0;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 992px) {
  header #logo {
    height: 100%;
  }
}
@media (max-width: 768px) {
  header #logo {
    width: 200px;
    margin: 0 auto;
    float: none;
    border: 0;
  }
}
header #logo a {
  color: #343434;
  text-decoration: none;
  display: block;
  height: 100%;
}
header #logo a img {
  height: 100%;
  vertical-align: top;
}
header #search {
  height: 100%;
  float: left;
  padding: 0 15px;
}
@media (max-width: 992px) {
  header #search {
    height: auto;
  }
}
header #search .hide_btn {
  display: none;
  float: right;
  font-size: 32px;
  color: white;
}
@media (max-width: 768px) {
  header #search {
    position: absolute;
    left: 0;
    top: -70px;
    height: 70px;
    z-index: 12;
    width: 100%;
    background-color: white;
  }
  header #search form {
    float: left;
  }
  header #search .hide_btn {
    display: block;
  }
}
header #search form {
  margin-top: 17px;
  position: relative;
}
@media (max-width: 768px) {
  header #search form {
    width: 100%;
  }
}
header #search form input {
  height: 35px;
  border: 1px solid #EBEBEB;
  outline: 0;
  border-radius: 3px;
  width: 100%;
  padding: 0 15px;
}
header #search form button {
  height: 35px;
  width: 35px;
  text-decoration: center;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-left: 1px solid #EBEBEB;
  background-color: transparent;
  outline: 0;
  color: #d33c29;
}
header #navbar {
  padding: 0;
}
@media (max-width: 768px) {
  header #navbar {
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 0;
    padding-left: 10px;
    padding-top: 4px;
    z-index: 11;
    width: auto;
    border-top: 0 !important;
    border-left: 1px solid #EBEBEB;
  }
}
@media (max-width: 992px) {
  header #navbar {
    border-top: 1px solid #EBEBEB;
  }
}
header #navbar .burger {
  display: none;
}
@media (max-width: 768px) {
  header #navbar .burger {
    display: block;
    margin: 10px 0 0 0;
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
  }
  header #navbar .burger span.icon-bar {
    background-color: #d33c29;
    width: 30px;
    height: 3px;
    border-radius: 0px;
    margin: 0 0 5px 0;
    position: relative;
    display: block;
  }
  header #navbar .burger.active {
    position: fixed;
    right: 15px;
  }
  header #navbar .burger.active span.middle {
    opacity: 0;
  }
  header #navbar .burger.active span.top {
    -webkit-o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 8px;
  }
  header #navbar .burger.active span.bottom {
    -webkit-o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: -8px;
  }
}
header #navbar > ul.menu {
  width: 100%;
  height: 100%;
}
header #navbar > ul.menu li {
  float: left;
}
@media (max-width: 768px) {
  header #navbar > ul.menu li {
    display: block;
    width: 100%;
  }
}
header #navbar > ul.menu li a {
  line-height: 40px;
  color: #a2a1a1;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 992px) {
  header #navbar > ul.menu li a {
    line-height: 10px;
  }
}
header #navbar > ul.menu li a:hover {
  background-color: transparent;
}
header #navbar > ul.menu li.additional {
  text-transform: uppercase;
  float: right;
}
header #navbar > ul.menu li.additional.upload {
  font-weight: bold;
  background-color: #d33c29;
}
header #navbar > ul.menu li.additional.upload a {
  color: white;
}
header #navbar > ul.menu li.additional.login {
  color: #343434;
}
@media (max-width: 768px) {
  header #navbar > ul.menu {
    width: 150px;
    position: fixed;
    right: -100%;
    top: -5px;
    z-index: 0;
    padding-top: 70px;
    background-color: #343434;
  }
}
section#main {
  overflow: hidden;
  padding: 0;
}
section#main > div {
  padding-top: 25px;
  padding-bottom: 35px;
}
section#main .left {
  padding-left: 0;
  padding-right: 0;
}
section#main .left p.title {
  font-weight: bold;
  font-size: 16px;
  border-left: 3px solid #d33c29;
  margin: 15px;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
section#main .left p.title a {
  color: #343434;
}
section#main .left li a {
  width: 100%;
  padding-left: 15px;
  color: #a2a1a1;
  padding-left: 25px;
  padding-right: 15px;
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
section#main .left li a:hover,
section#main .left li a.active {
  background-color: #d33c29;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
section#main .left li a:hover i,
section#main .left li a.active i {
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
section#main .left li a i {
  color: #3DAEDA;
  font-size: 18px;
}
section#main .left .main li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
section#main .left .playlist {
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
section#main .left .playlist li {
  margin-bottom: 5px;
  position: relative;
}
section#main .left .playlist li a {
  padding-right: 35px;
}
section#main .left .playlist span {
  float: right;
  height: 20px;
  padding: 0 5px;
  font-size: 12px;
  background-color: #d33c29;
  color: white;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 0;
}
section#main .left .playlist .thumb {
  float: left;
  margin-right: 10px;
}
section#main .left .playlist .thumb img {
  width: 20px;
  height: 20px;
}
section#main .left .playlist p {
  margin: 0;
  float: left;
  padding: 10px;
}
#content {
  background-color: white;
  padding: 15px;
}
#content h2.title {
  border-bottom: 1px solid #EBEBEB;
  font-size: 18px;
  padding: 10px 0;
  margin-top: 0;
}
#content h2.title a {
  color: #d33c29;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}
#content h2.title a img {
  margin-right: 10px;
  height: 20px;
  float: left;
  width: 20px;
}
#content h2.title .add_playlist {
  color: white;
  float: right;
  display: block;
  text-align: center;
}
@media (max-width: 768px) {
  #content h2.title .add_playlist {
    margin-top: 10px;
    float: none;
  }
}
#content .block {
  margin-bottom: 25px;
  overflow: hidden;
}
.videos.list .video {
  width: 100%;
}
.videos.list .video .title {
  height: auto;
}
.videos.list .video .thumb {
  width: 20%;
  float: left;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .videos.list .video .thumb {
    width: 100%;
    float: none;
  }
}
.videos.list .video .views {
  margin-top: 0;
}
.videos.list .video .info p {
  font-size: 12px;
  color: #A0A0A0;
  height: 50px;
  overflow: hidden;
}
.video {
  overflow: hidden;
  padding: 0 5px;
  margin-bottom: 10px;
}
.video a {
  display: block;
  text-decoration: none;
}
@media (max-width: 660px) {
  .video {
    width: 100%;
  }
}
.video .thumb {
  position: relative;
  overflow: hidden;
}
.video .thumb .duration {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 12px;
  position: absolute;
}
.video .info_holder {
  overflow: hidden;
  border-bottom: 2px solid #d33c29;
  padding-bottom: 5px;
}
.video .title {
  color: #343434;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
}
.video .info {
  font-size: 10px;
}
.video .info .channel {
  color: #d33c29;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}
.video .info .views {
  font-weight: bold;
  float: left;
  color: #343434;
}
.video .info .added {
  float: right;
  color: #a2a1a1;
}
.playlists ul {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 30%;
}
.playlists ul li {
  height: 33.3333333%;
  position: relative;
}
.playlists ul li img {
  height: 100%;
  width: auto;
}
.playlists ul li .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 60, 41, 0.5);
  color: white;
}
.big {
  overflow: hidden;
  margin: 0 -5px;
}
.big .video .info_holder {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 0;
  border-left: 3px solid #d33c29;
  margin: 0 5px 0 0;
  padding-bottom: 0;
  border-bottom: 0;
}
@media (max-width: 768px) {
  .big .video .info_holder {
    left: 5px;
    right: 0;
  }
}
.big .video .info_holder .title {
  color: white;
  text-decoration: none;
  padding: 5px;
  height: auto;
}
.big .video .info_holder .info {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 5px;
}
.big .video .info_holder .info .channel {
  float: left;
  color: #d33c29;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: normal;
}
.big .video .info_holder .info .views {
  color: #a2a1a1;
  float: right;
  font-size: 12px;
  margin-top: 0;
}
.channel-content-wrapper .settings input {
  margin-bottom: 10px;
}
.channel-content-wrapper .settings textarea {
  padding: 10px 15px;
  min-height: 100px;
  resize: vertical;
}
.channel-content-wrapper .settings .button {
  float: right;
}
#channel {
  margin: -25px 0 0 -15px;
  position: relative;
}
@media (max-width: 768px) {
  #channel {
    margin: -25px -15px 0 -15px;
  }
}
#channel ~ .settings input {
  margin-bottom: 10px;
}
#channel ~ .settings textarea {
  padding: 10px 15px;
  min-height: 100px;
  resize: vertical;
}
#channel ~ .settings .button {
  float: right;
}
#channel .menu {
  width: 100%;
  text-align: left;
  margin-top: 70px;
  background-color: #ECECEC;
}
#channel .menu li {
  display: inline-block;
}
#channel .menu li a {
  display: block;
  padding: 15px 10px;
  color: #343434;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 3px solid #ECECEC;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#channel .menu li a.active,
#channel .menu li a:hover {
  background-color: #dbdbdb;
  text-decoration: none;
  border-color: #d33c29;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#channel .poster {
  position: relative;
  overflow: hidden;
  height: 300px;
  background-image: url(../img/poster.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#channel .info .profile {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 20px;
  top: 230px;
  border: 4px solid white;
  overflow: hidden;
}
#channel .info .profile img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  #channel .info .profile {
    left: 0;
    right: 0;
    margin: auto;
    top: 180px;
  }
}
#channel .info .stats {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  left: 140px;
  top: 240px;
}
@media (max-width: 768px) {
  #channel .info .stats {
    position: static;
  }
}
#channel .info .stats li {
  color: white;
  font-weight: bold;
  display: block;
}
#channel .info .stats li span {
  font-weight: normal;
}
#channel .info .title {
  font-size: 22px;
  float: left;
  padding: 10px;
  font-weight: bold;
  margin-left: 140px;
}
@media (max-width: 768px) {
  #channel .info .title {
    margin: 0;
  }
}
#channel .info .button {
  float: right;
  color: white;
  outline: 0;
  border: 0;
  background-color: #d33c29;
  padding: 5px 10px;
  top: 255px;
  right: 15px;
  position: absolute;
}
@media (max-width: 768px) {
  #channel .info .button {
    top: 15px;
  }
}
#channel .info .button i:first-child {
  display: none;
}
#channel .info .button i {
  display: none;
  float: left;
  line-height: 20px;
  margin-right: 10px;
}
#channel .info .button.subscribed i:last-child {
  display: block;
}
#channel .info .button.subscribed:hover i:first-child {
  display: block;
}
#channel .info .button.subscribed:hover i:last-child {
  display: none;
}
.playlist_items {
  background-color: #343434;
  margin-top: 20px;
}
.playlist_items h2.title {
  color: white;
}
.playlist_items .video a {
  color: white;
}
.playlist_items .video .channel {
  color: #eeeeee;
}
.playlist_items .video .info_holder {
  border: 0;
}
.playlist_items .slick-arrow {
  position: absolute;
  border: 0;
  color: white;
  top: 0;
  width: 23px;
  bottom: 0;
  background-color: #252525;
}
.playlist_items .slick-prev {
  left: -19px;
  z-index: 100;
}
.playlist_items .slick-next {
  right: -18px;
}
.playlist_items .slick-disabled {
  display: none !important;
}
#player h1.title {
  font-size: 28px;
  margin: 10px 0 20px 0;
}
#player .player_section {
  padding: 0;
}
#player .info {
  padding: 0;
}
#player .info > div {
  overflow: hidden;
}
@media (max-width: 660px) {
  #player .info > div {
    width: 100%;
  }
}
#player .info .lists ul {
  overflow-y: scroll;
  max-height: 150px;
}
#player .channel {
  overflow: hidden;
  padding: 0;
}
@media (max-width: 660px) {
  #player .channel > div {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #player .channel {
    margin-top: 15px;
  }
}
#player .channel .thumb {
  text-decoration: none;
}
#player .channel .thumb .img {
  float: left;
}
#player .channel .thumb a.title {
  vertical-align: top;
  font-size: 16px;
  color: #d33c29;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
#player .channel .thumb img {
  height: 55px;
  width: 55px;
}
#player .button {
  color: white;
  outline: 0;
  border: 0;
  background-color: #d33c29;
  padding: 5px 10px;
  margin: 5px 0 0 0;
}
#player .button i:first-child {
  display: none;
}
#player .button i {
  display: none;
  float: left;
  line-height: 20px;
  margin-right: 10px;
}
#player .button.subscribed i:last-child {
  display: block;
}
#player .button.subscribed:hover i:first-child {
  display: block;
}
#player .button.subscribed:hover i:last-child {
  display: none;
}
.description {
  padding: 0;
}
.description p {
  max-height: 100px;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.description .expand {
  border-top: 2px solid #EBEBEB;
  text-align: center;
  color: #d33c29;
  cursor: pointer;
}
.section span.title {
  font-weight: bold;
  color: #343434;
  margin: 15px 0 10px 0;
  display: block;
}
.section .share {
  font-size: 32px;
}
.section .share li {
  display: inline-block;
}
.section .new {
  position: relative;
  margin-top: 10px;
}
.section .new input {
  padding: 5px 35px 5px 10px;
  width: 100%;
}
.section .new button {
  background-color: #d33c29;
  color: white;
  outline: 0;
  border: 0;
  height: 34px;
  width: 34px;
  margin-left: -5px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}
.section .playlist a {
  color: #a2a1a1;
  text-decoration: none;
}
.views {
  margin-top: 15px;
}
.views span {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.views .hands {
  overflow: hidden;
}
.views .hands a {
  text-decoration: none;
}
.views .hands a.like {
  color: #5FC000;
  float: left;
}
.views .hands a.dislike {
  color: #d33c29;
  float: right;
}
.views .bar {
  background-color: gray;
  height: 4px;
}
.views .bar .liked {
  background-color: #5FC000;
  width: 52%;
  height: 4px;
  float: left;
}
.views .bar .dislike {
  background-color: #d33c29;
  width: 48%;
  height: 4px;
  float: right;
}
.button {
  background-color: #d33c29;
  padding: 5px 10px;
  border: 0;
  outline: 0;
  color: white;
}
div.login {
  margin-bottom: 25px;
}
div.login input[type="text"],
div.login input[type="password"] {
  border: 1px solid #EBEBEB;
  padding: 5px 10px;
  width: 80%;
  margin-bottom: 10px;
}
@media (max-width: 660px) {
  div.login input[type="text"],
  div.login input[type="password"] {
    width: 100%;
  }
}
div.login label {
  display: block;
}
div.login .button {
  margin-top: 15px;
}
.upload_info .progress {
  background-color: #F3F4F6;
  height: 30px;
  width: 100%;
}
.upload_info .progress .uploaded {
  background-color: #d33c29;
  text-align: right;
  padding-right: 15px;
  line-height: 30px;
  width: 52%;
  color: white;
  font-weight: bold;
}
.upload_info .thumb img {
  width: 100%;
}
.upload_info .thumb a {
  padding: 10px;
}
.upload_info .thumb a.active img {
  outline: 3px solid #d33c29;
}
.upload_info .input_holder {
  margin-bottom: 10px;
}
.upload_info .input_holder textarea {
  min-height: 100px;
  padding-top: 5px;
}
.upload_info .settings button {
  float: right;
  margin-left: 10px;
  border: 2px solid #d33c29;
}
.status {
  text-align: center;
  color: #343434;
  font-weight: bold;
  font-style: italic;
}
.upload form {
  margin-bottom: 15px;
}
.upload .box__dragndrop,
.upload .box__uploading,
.upload .box__success,
.upload .box__error {
  display: none;
}
.upload input[type="file"] {
  display: none;
}
.upload label {
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.upload .box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed #d33c29;
  outline-offset: -10px;
}
.upload .box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.upload .box.is-dragover {
  background-color: grey;
}
.upload .container {
  width: 100%;
  max-width: 680px;
  /* 800 */
  text-align: center;
  margin: 0 auto;
}
.upload .container h1 {
  font-size: 42px;
  font-weight: 300;
  color: #0f3c4b;
  margin-bottom: 40px;
}
.upload .container h1 a:hover,
.upload .container h1 a:focus {
  color: #39bfd3;
}
.upload .container nav {
  margin-bottom: 40px;
}
.upload .container nav a {
  border-bottom: 2px solid #c8dadf;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 5px;
}
.upload .container nav a.is-selected {
  font-weight: 700;
  color: #39bfd3;
  border-bottom-color: currentColor;
}
.upload .container nav a:not( .is-selected ):hover,
.upload .container nav a:not( .is-selected ):focus {
  border-bottom-color: #0f3c4b;
}
.upload .container footer {
  color: #92b0b3;
  margin-top: 40px;
}
.upload .container footer p + p {
  margin-top: 1em;
}
.upload .container footer a:hover,
.upload .container footer a:focus {
  color: #39bfd3;
}
.upload .box {
  font-size: 1.25rem;
  /* 20 */
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
}
.upload .box.has-advanced-upload {
  outline: 2px dashed #d33c29;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}
.upload .box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}
.upload .box__dragndrop,
.upload .box__icon {
  display: none;
}
.upload .box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.upload .box.has-advanced-upload .box__icon {
  width: 100%;
  height: 80px;
  fill: #d33c29;
  display: block;
  margin-bottom: 40px;
}
.upload .box.is-uploading .box__input,
.upload .box.is-success .box__input,
.upload .box.is-error .box__input {
  visibility: hidden;
}
.upload .box__uploading,
.upload .box__success,
.upload .box__error {
  display: none;
}
.upload .box.is-uploading .box__uploading,
.upload .box.is-success .box__success,
.upload .box.is-error .box__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.upload .box__uploading {
  font-style: italic;
}
.upload .box__success {
  -webkit-animation: appear-from-inside 0.25s ease-in-out;
  animation: appear-from-inside 0.25s ease-in-out;
}
@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0);
  }
  75% {
    transform: translateY(-50%) scale(1.1);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}
.upload .box__restart {
  font-weight: 700;
}
.upload .box__restart:focus,
.upload .box__restart:hover {
  color: #39bfd3;
}
.upload .js .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload .js .box__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.upload .js .box__file + label:hover strong,
.upload .box__file:focus + label strong,
.upload .box__file.has-focus + label strong {
  color: #39bfd3;
}
.upload .js .box__file:focus + label,
.upload .js .box__file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.upload .js .box__file + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}
.upload .no-js .box__file + label {
  display: none;
}
.upload .no-js .box__button {
  display: block;
}
.upload .box__button {
  font-weight: 700;
  color: #e5edf1;
  background-color: #d33c29;
  border: 0;
  color: white;
  display: block;
  padding: 8px 16px;
  margin: 40px auto 0;
}
.upload .box__button:hover,
.upload .box__button:focus {
  background-color: #c22b18;
}
footer {
  height: 50px;
  background-color: #121212;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: white;
}
footer ul {
  width: 100%;
  text-align: center;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: white;
}
footer ul li:not(:last-child):after {
  content: ' |';
}