﻿@using Tube.am.ViewModels

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tube.am</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

    <script type="text/javascript" src="~/Scripts/jq.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jwplayer.js"></script>
    <script>jwplayer.key = "OgPsrT0VU7smEwi5EGAT04miB+22SUNuuWzr6g==";</script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</head>
<body>
    <input type="hidden" id="logged_in_user_id" value="@(UserModelView.LoggedInUser.Id!= null? UserModelView.LoggedInUser.Id : String.Empty)" />
    <div class="backdrop"></div>
    <div id="wrapper">
        <header class="container-fluid">
            <div class="search_btn">
                <span>
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <div id="logo" class="col-md-2 col-xs-3">
                <a href="/Home/Index">
                    <img src="~/Content/img/logo.png" alt="Logo">
                </a>
            </div>
            <div id="search" class="col-md-3 col-sm-9 col-xs-12 animate">
                <form>
                    <input type="text" placeholder="Փնտրել...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div id="navbar" class="col-md-7 col-xs-12">
                <ul class="menu animate nav navbar-nav clear">
                    <li>
                        <a href="index.html" class="active">Սերիալ</a>
                    </li>
                    <li>
                        <a href="gallery.html">Ֆիլմ</a>
                    </li>
                    <li>
                        <a href="gallery.html">Հումոր</a>
                    </li>
                    <li>
                        <a href="gallery.html">Հաղորդում</a>
                    </li>
                    @if (UserModelView.LoggedInUser.Id == null)
                    {
                        <li class="additional login">
                            <a href="/Profile/Login">Մուտք</a>
                        </li>
                    }
                    else
                    {
                        <li class="additional login">
                            <a href="/Profile/Logout">Ելք</a>
                        </li>
                    }
                    <li class="additional upload">
                        <a href="/Channel/UploadVideo">Վերբեռնել</a>
                    </li>
                </ul>
                <button type="button" class="burger">
                    <span class="icon-bar animate top"></span>
                    <span class="icon-bar animate middle"></span>
                    <span class="icon-bar animate bottom"></span>
                </button>
            </div>
        </header>
        <section id="main" class="container-fluid">
            @Html.Partial("../LeftBarPartialView")
            @RenderBody()
        </section>
        <footer>
            <ul class="clear">
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
