﻿@using Tube.am.ViewModels
@model ChannelPlaylistsPartialViewModel

@{
    ViewBag.Title = "Channel Playlists";
}

<h2 class="title">
    Playlists
</h2>
<div class="playlists block">
    @foreach (var item in Model.Playlists)
    {
        <div class="video col-md-3 col-sm-4 col-xs-6">
            <a href="/Home/Video?id=@(item.Videos[0].Id)&playlistId=@item.Id" class="thumb aspect">
                <img src="@item.Videos[0].ThumbnailImageLink" alt="@item.Videos[0].ThumbnailImageAlt">
                <ul class="clear">
                    <li>
                        @if (item.Videos.Count > 1)
                        {
                            <img src="@item.Videos[1].ThumbnailImageLink" alt="@item.Videos[1].ThumbnailImageAlt">
                        }
                    </li>

                    <li>
                        @if (item.Videos.Count > 2)
                        {
                            <img src="@item.Videos[2].ThumbnailImageLink" alt="@item.Videos[2].ThumbnailImageAlt">
                        }
                    </li>
                    <li>
                        @if (item.Videos.Count > 3)
                        {
                            <img src="@item.Videos[3].ThumbnailImageLink" alt="@item.Videos[3].ThumbnailImageAlt">
                        }
                        <div class="layer">@item.Videos.Count</div>
                    </li>
                </ul>
            </a>
            <div class="info_holder">
                <a href="/Home/Video?id=@(item.Videos[0].Id)&playlistId=@item.Id" class="title">@item.Name</a>
                <div class="info">
                    <a href="/Channel/Index?id=@Model.Channel.Id" class="channel">@Model.Channel.ChannelName</a>
                    <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                    <span class="added">@item.CreatedDate.GetRelativeTime()</span>
                </div>
            </div>
        </div>
    }
</div>





