﻿@using Tube.am.ViewModels
@model ChannelSettingsPartialViewModel

@{
    ViewBag.Title = "Channel Settings";
}

<h2 class="title">
    Նկարներ
</h2>
<div class="settings block">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="file" placeholder="Title" />
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="file" placeholder="Title" />
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="file" placeholder="Title" />
    </div>
    <div class="col-md-6 col-xs-12">
        <textarea placeholder="Title"></textarea>
    </div>
    <div class="col-xs-12">
        <button class="button">Save</button>
    </div>

</div>
<h2 class="title">
    Կարգավորումներ
</h2>
<div class="settings block">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text" placeholder="Title" />
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text" placeholder="Title" />
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text" placeholder="Title" />
    </div>
    <div class="col-md-6 col-xs-12">
        <textarea placeholder="Title"></textarea>
    </div>
    <div class="col-xs-12">
        <button class="button">Save</button>
    </div>

</div>




