﻿@using Tube.am.ViewModels
@model ChannelViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content" class="videos col-md-10 col-sm-9 col-xs-12">
    <div id="channel" class="block">
        <div class="head">
            <div class="poster aspect" style="background-image: url(@Model.Channel.ChannelCoverImageLink);">

            </div>
            <div class="info">
                <div class="profile">
                    <img src="@Model.Channel.ChannelImageLink" alt="@Model.Channel.ChannelImageAlt">
                </div>
                <div class="stats">
                    <ul class="clear">
                        <li>@String.Format("{0:n0}", Model.Videos.Sum(x => x.ViewCount)) <span>Դիտում</span></li>
                        <li>@Model.SubscribersCount <span>Բաժանորդագրում</span></li>
                    </ul>
                </div>
                <div class="title">
                    @Model.Channel.ChannelName
                </div>
                @if (!Model.MyPage)
                {
                    if (Model.LoggedIn)
                    {
                        if (Model.IsSubscribed)
                        {
                            <button onclick="unsubscribe('@UserModelView.LoggedInUser.Id', '@Model.Channel.Id')" class="button subscribed"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրված եք </button>
                        }
                        else
                        {
                            <button onclick="subscribe('@UserModelView.LoggedInUser.Id', '@Model.Channel.Id')" class="button"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրվել </button>
                        }
                    }
                    else
                    {
                        <button onclick="window.location.href = '@Url.Action("Login","Profile")'" class="button"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրվել </button>
                    }
                }
            </div>
        </div>
        <div class="menu">
            <ul class="clear">
                <li>
                    <a href="javascript:void(0)" onclick="redirectToVideos($(this), '@Model.Channel.Id')" class="active">Videos</a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="redirectToPlaylists($(this), '@Model.Channel.Id')">Playlists</a>
                </li>
                @if (Model.MyPage)
                {
                    <li>
                        <a href="javascript:void(0)" onclick="redirectToSettings($(this), '@Model.Channel.Id')">Settings</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="content" class="channel-content-wrapper">
        @Html.Partial("ChannelVideosPartialView", new ChannelVideosPartialViewModel() { Channel = Model.Channel, Videos = Model.Videos})
    </div>
</div>
