﻿@{
    ViewBag.Title = "UploadVideo";
}

<div class="upload_info col-xs-12">
    <h2 class="title">
        Վերբեռնել
    </h2>
    <div class="progress">
        <div class="uploaded progress-bar-striped" id="result-percent" style="width: 0%">0%</div>
    </div>
    <div class="status" id="result-message">Converting...</div>
    <h2 class="title">
        Վերբեռնել
    </h2>
    <div class="thumb col-sm-6 col-xs-12">
        @*<a href="#" class="active col-sm-4 col-xs-12">
                <img src="img/thumb2.jpg">
            </a>*@
    </div>
    <div class="settings col-sm-6 col-xs-12">
        <input type="hidden" id="video_id" />
        <input type="hidden" id="video_link" />
        <input type="hidden" id="video_duration" />
        <div class="input_holder">
            <input id="video_name" type="text" placeholder="Text" />
        </div>
        <div class="input_holder">
            <textarea id="video_description" placeholder="Text"></textarea>
        </div>
        <button id="save_video" type="submit" class="button" disabled>Save</button>
        <button id="cancel_video" type="submit" class="button invert">Cancel</button>
    </div>
</div>

<script>
    $("#save_video").click(function () {
        var id = $("#video_id").val();
        var name = $("#video_name").val();
        var description = $("#video_description").val();
        var link = $("#video_link").val();
        var duration = $("#video_duration").val();

        console.log(id + " " + name + " " + description + " " + link + " " + duration);

        $.ajax({
            url: '/Channel/SaveVideo',
            type: 'POST',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { id: id, name: name, description: description, link: link, duration: duration },
            success: function (message) {
            }
        });

        window.location.replace("/Home/Index");
    })
</script>
