﻿@model Tube.am.ViewModels.ThumbnailsViewModel

@{
    ViewBag.Title = "Thumbnails";
}

@foreach (var item in Model.ThumbnailLinks)
{
    <a href="javascript:void(0)" class="col-sm-4 col-xs-6">
        <img src="@item">
    </a>
}
<script>
    var thumb = $('.upload_info .thumb a');

    thumb.click(function () {
        var _this = $(this);

        thumb.removeClass('active');
        _this.addClass('active');

        $.ajax({
            url: '/Channel/SetThumbnail',
            type: 'POST',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: { videoId: @(Model.VideoId), link: _this.find('img').attr('src')},
            success: function(message) {
            }
        });

        //$.post("/Channel/SetThumbnail?videoId=@(Model.VideoId)&link=" + _this.find('img').attr('src')));
    });

    thumb.first().trigger('click');
</script>