﻿@using Tube.am.ViewModels
@model LikedHistoryWatchLaterVideosViewModel

@{
    ViewBag.Title = "WatchLaterVideos";
}

<div id="content" class="videos list col-md-10 col-sm-9 col-xs-12">
    <h2 class="title">
        Watch Later
    </h2>
    <div class="block">
        @foreach (var item in Model.Videos)
        {

            <div class="video col-md-3 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                    <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                    @if (item.Duration.Hours > 0)
                    {
                        <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                    }
                    else
                    {
                        <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                    }
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Channel.ChannelName" class="channel">@item.Channel.ChannelName</a>
                        <p>
                            @item.Description
                        </p>
                        <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                        <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

