﻿@model Tube.am.ViewModels.AccountViewModel.LoginModel

@{
    ViewBag.Title = "Login";
}

<div id="content" class="videos col-md-10 col-sm-9 col-xs-12">
    <div class="login col-sm-6 col-xs-12">
        <h2 class="title">
            Մուտք
        </h2>
        <form role="form" action="/Profile/Login" method="post">
            @if (Model != null && !String.IsNullOrEmpty(Model.LoginError))
            {
                @Html.ValidationSummary(false)
            }
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            @Html.AntiForgeryToken()
            <input type="text" name="Email" placeholder="Email" />
            <input type="password" name="Password" placeholder="Password" />
            <label for="remember" name="Remember">
                <input type="checkbox" name="remember" id="remember" />Remember me
            </label>
            <div class="clear"></div>
            <button class="button" type="submit">Մուտք</button>
        </form>
    </div>
    <div class="login col-sm-6 col-xs-12">
        <h2 class="title">
            Գրանցվել
        </h2>
        <form role="form" action="/Profile/Register" method="post">
            @if (Model != null && !String.IsNullOrEmpty(Model.RegisterError))
            {
                @Html.ValidationSummary(false)
            }
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            @Html.AntiForgeryToken()
            <input type="text" name="NameSurename" placeholder="Name" />
            <input type="text" name="Email" placeholder="Email" />
            <input type="password" name="Password" placeholder="Confirm Password" />
            <input type="password" name="ConfirmPassword" placeholder="Password" />
            <div class="clear"></div>
            <button class="button">Գրանցվել</button>
        </form>
    </div>
</div>

