﻿@using Tube.am.ViewModels
@model  AddToPlaylistPartialViewModel

    @{
        ViewBag.Title = "Video";
    }

    <span class="title">Ավելացնել</span>
    <ul class="playlist clear">
        <li>
            @if (Model.LoggedInUser.Id == null)
            {
                <a href="/Profile/Login" target="_blank">
                    <i class="fa fa-clock-o"></i>
                    Դիտել ավելի ուշ
                </a>
            }
            else
            {
                <a href="javascript:void(0)" onclick="javascritp:addToWatchLater(@Model.Video.Id, '@Model.LoggedInUser.Id')">
                    <i class="fa fa-clock-o"></i>
                    Դիտել ավելի ուշ
                </a>
            }
        </li>
        @foreach (var item in Model.UserPlaylists)
        {
            <li>
                <a href="javascript:void(0)" onclick="javascript:addToPlaylist(@item.Id, @Model.Video.Id)">@item.Name</a>
            </li>
        }
        <li class="new">

        </li>
    </ul>
    <div class="new">
        @if (Model.LoggedInUser.Id != null)
        {
            <button onclick="javascript:addNewPlaylist($('#plName').val(), '@Model.LoggedInUser.Id', @Model.Video.Id)">+</button>
        }
        else
        {
            <button onclick="javascript:window.open('/Profile/Login', '_blank')">+</button>
        }
        <input id="plName" type="text" placeholder="Ավելացնել նորը" />
    </div>
