﻿@model Tube.am.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="content" class="videos col-md-10 col-sm-9 col-xs-12">
    <h2 class="title">
        Top 3
    </h2>
    <div class="big block">
        @foreach (var item in Model.Top3Videos)
        {
            <div class="video col-md-4 col-sm-4 col-xs-12">
                <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                    <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                        <div class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</div>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2 class="title">
        Most viewed
    </h2>
    <div class="block">
        @foreach (var item in Model.MostViewVideos)
        {
            <div class="video col-md-3 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                    <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                    @if (item.Duration.Hours > 0)
                    {
                        <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                    }
                    else
                    {
                        <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                    }
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                        <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                        <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Tube.am.ViewModels.UserModelView.LoggedInUser.Id != null)
    {
        if (Model.SubChannel1 != null)
        {
            <h2 class="title">
                <a href="/Channel/Index?id=@Model.SubChannel1.Id"><img src="@Model.SubChannel1.ChannelImageLink" alt="@Model.SubChannel1.ChannelImageAlt">@Model.SubChannel1.ChannelName</a>
            </h2>
            <div class="block">
                @foreach (var item in Model.SubChannel1Videos.Take(4))
                {
                    <div class="video col-md-3 col-sm-4 col-xs-6">
                        <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                            <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                            @if (item.Duration.Hours > 0)
                            {
                                <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                            }
                            else
                            {
                                <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                            }
                        </a>
                        <div class="info_holder">
                            <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                            <div class="info">
                                <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                                <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                                <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        if (Model.SubChannel2 != null)
        {
            <h2 class="title">
                <a href="/Channel/Index?id=@Model.SubChannel2.Id"><img src="@Model.SubChannel2.ChannelImageLink" alt="@Model.SubChannel2.ChannelImageAlt">@Model.SubChannel2.ChannelName</a>
            </h2>
            <div class="block">
                @foreach (var item in Model.SubChannel2Videos.Take(4))
                {
                    <div class="video col-md-3 col-sm-4 col-xs-6">
                        <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                            <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                            @if (item.Duration.Hours > 0)
                            {
                                <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                            }
                            else
                            {
                                <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                            }
                        </a>
                        <div class="info_holder">
                            <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                            <div class="info">
                                <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                                <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                                <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        if (Model.SubChannel3 != null)
        {
            <h2 class="title">
                <a href="/Channel/Index?id=@Model.SubChannel3.Id"><img src="@Model.SubChannel3.ChannelImageLink" alt="@Model.SubChannel3.ChannelImageAlt">@Model.SubChannel3.ChannelName</a>
            </h2>
            <div class="block">
                @foreach (var item in Model.SubChannel3Videos.Take(4))
                {
                    <div class="video col-md-3 col-sm-4 col-xs-6">
                        <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                            <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                            @if (item.Duration.Hours > 0)
                            {
                                <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                            }
                            else
                            {
                                <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                            }
                        </a>
                        <div class="info_holder">
                            <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                            <div class="info">
                                <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                                <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                                <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    <h2 class="title">
        Most Viewed Movies
    </h2>
    <div class="movies block">
        @foreach (var item in Model.MostViewedMovies)
        {
            <div class="video col-md-2 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@item.Video.Id" class="thumb aspect">
                    <img src="@item.PosterLink" alt="@item.PosterAlt">
                    @if (item.Video.Duration.Hours > 0)
                    {
                        <div class="duration">@(item.Video.Duration.ToString(@"hh\:mm\:ss"))</div>
                    }
                    else
                    {
                        <div class="duration">@(item.Video.Duration.ToString(@"mm\:ss"))</div>
                    }
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Video.Id" class="title">@item.Video.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Video.Channel.Id" class="channel">@item.Video.Channel.ChannelName</a>
                        <span class="views">@String.Format("{0:n0}", item.Video.ViewCount) Դիտում</span>
                        <span class="added">@item.Video.UploadedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2 class="title">
        NewestMovies
    </h2>
    <div class="movies block">
        @foreach (var item in Model.NewestMovies)
        {
            <div class="video col-md-2 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@item.Video.Id" class="thumb aspect">
                    <img src="@item.PosterLink" alt="@item.PosterAlt">
                    @if (item.Video.Duration.Hours > 0)
                    {
                        <div class="duration">@(item.Video.Duration.ToString(@"hh\:mm\:ss"))</div>
                    }
                    else
                    {
                        <div class="duration">@(item.Video.Duration.ToString(@"mm\:ss"))</div>
                    }
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Video.Id" class="title">@item.Video.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Video.Channel.Id" class="channel">@item.Video.Channel.ChannelName</a>
                        <span class="views">@String.Format("{0:n0}", item.Video.ViewCount) Դիտում</span>
                        <span class="added">@item.Video.UploadedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2 class="title">
        Popular Playlists
    </h2>
    <div class="playlists block">
        @foreach (var item in Model.PopularPlaylists)
        {
            <div class="video col-md-3 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@(item.Videos[0].Id)&playlistId=@item.Id" class="thumb aspect">
                    <img src="@item.Videos[0].ThumbnailImageLink" alt="@item.Videos[0].ThumbnailImageAlt">
                    <ul class="clear">
                        <li>
                            @if (item.Videos.Count > 1)
                            {
                                <img src="@item.Videos[1].ThumbnailImageLink" alt="@item.Videos[1].ThumbnailImageAlt">
                            }
                        </li>

                        <li>
                            @if (item.Videos.Count > 2)
                            {
                                <img src="@item.Videos[2].ThumbnailImageLink" alt="@item.Videos[2].ThumbnailImageAlt">
                            }
                        </li>
                        <li>
                            @if (item.Videos.Count > 3)
                            {
                                <img src="@item.Videos[3].ThumbnailImageLink" alt="@item.Videos[3].ThumbnailImageAlt">
                            }
                            <div class="layer">@item.Videos.Count</div>
                        </li>
                    </ul>
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@(item.Videos[0].Id)&playlistId=@item.Id" class="title">@item.Name</a>
                    <div class="info">
                        <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                        <span class="added">@item.CreatedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>