﻿@using Tube.am.ViewModels
@model LikeDislikePartialViewModel

@{
    ViewBag.Title = "Video";
}

@{
    int likePercent = 100;
    int dislikePercent = 100;
    if (Model.Video.LikesCount == 0)
    {
        likePercent = 0;
    }
    if (Model.Video.DislikesCount == 0)
    {
        dislikePercent = 0;
    }

    int total = Model.Video.LikesCount + Model.Video.DislikesCount;

    if (total == 0)
    {
        total = 1;
    }

    likePercent = (int)Math.Ceiling((decimal)(Model.Video.LikesCount) * 100 / total);
    dislikePercent = (int)Math.Floor((decimal)(Model.Video.DislikesCount) * 100 / total);
}

<div>
    <span>@String.Format("{0:n0}", Model.Video.ViewCount)</span>
    <div class="like">
        <div class="hands">
            @if (Model.LoggedInUser.Id != null)
            {
                <a href="javascript:void(0)" onclick="likeDislikeVideo(true,@(Model.Video.Id),'@Model.LoggedInUser.Id')" class="like">
                    <i class="fa fa-thumbs-o-up"></i>
                    @Model.Video.LikesCount
                </a>
                <a href="javascript:void(0)" onclick="likeDislikeVideo(false,@(Model.Video.Id),'@Model.LoggedInUser.Id')" class="dislike">
                    @Model.Video.DislikesCount
                    <i class="fa fa-thumbs-o-up"></i>
                </a>
            }
            else
            {
                <a href="/Profile/Login" target="_blank" class="like">
                    <i class="fa fa-thumbs-o-up"></i>
                    @Model.Video.LikesCount
                </a>
                <a href="/Profile/Login" target="_blank" class="dislike">
                    @Model.Video.DislikesCount
                    <i class="fa fa-thumbs-o-up"></i>
                </a>
            }
        </div>
        <div class="bar">
            <div class="liked" style="width: @(likePercent)%"></div>
            <div class="dislike" style="width: @(dislikePercent)%"></div>
        </div>
    </div>
</div>