﻿@using Tube.am.ViewModels
@model VideoViewModel

@{
    ViewBag.Title = "Video";
}

<div id="content" class="videos col-md-10 col-sm-9 col-xs-12">
    <div id="player" class="block">
        <h1 class="title">@Model.Video.Name</h1>
        <div class="player_section col-md-9">
            <div id="player_holder"></div>
        </div>
        <div class="info col-md-3">
            <div class="channel col-md-12 col-xs-12">
                <div class="thumb col-md-12 col-xs-6">
                    <a class="img" href="/Channel/Index?id=@Model.Video.Channel.Id">
                        <img src="@Model.Video.Channel.ChannelImageLink" alt="@Model.Video.Channel.ChannelImageAlt">
                    </a>
                    <a class="title" href="/Channel/Index?id=@Model.Video.Channel.Id">@Model.Video.Channel.ChannelName</a>
                    <div class="clear"></div>
                    @if (!Model.MyPage)
                    {
                        if (Model.LoggedIn)
                        {
                            if (Model.IsSubscribed)
                            {
                                <button onclick="unsubscribe('@UserModelView.LoggedInUser.Id', '@Model.Video.Channel.Id')" class="button subscribed"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրված եք </button>
                            }
                            else
                            {
                                <button onclick="subscribe('@UserModelView.LoggedInUser.Id', '@Model.Video.Channel.Id')" class="button"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրվել </button>
                            }
                        }
                        else
                        {
                            <button onclick="window.location.href = '@Url.Action("Login","Profile")'" class="button"><i class="fa fa-times-circle"></i><i class="fa fa-check-circle"></i> Բաժանորդագրվել </button>
                        }
                    }
                </div>
                <div class="views section col-md-12 col-xs-6 hidden-md hidden-lg">
                    @Html.Partial("LikeDislikeSectionPartialView", new LikeDislikePartialViewModel() { Video = Model.Video })
                </div>
            </div>

            <div class="section col-md-12 col-xs-6">
                <span class="title">Կիսվել</span>
                <ul class="share clear">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section lists col-md-12 col-xs-6">
                @Html.Partial("AddToPlaylistPartialView", new AddToPlaylistPartialViewModel() { Video = Model.Video, LoggedInUser = UserModelView.LoggedInUser })
            </div>
            <div class="views section col-md-12 hidden-xs hidden-sm">
                @Html.Partial("LikeDislikeSectionPartialView", new LikeDislikePartialViewModel() { Video = Model.Video })
            </div>
        </div>
        @if (Model.IsPlaylist)
        {
            <div class="playlist_items col-xs-12">
                <h2 class="title">
                    @Model.Playlist.Name @(Model.Playlist.Videos.Select(x => x.Id).ToList().IndexOf(Model.Video.Id) + 1)/@Model.Playlist.Videos.Count
                </h2>
                <h5 class="title">
                    <a href="/Channel/Index?id=@Model.Playlist.Channel.Id">@Model.Playlist.Channel.ChannelName</a>
                </h5>
                <div class="videos">
                    @foreach (var item in Model.Playlist.Videos)
                    {
                        <div class="video col-md-3 col-sm-4 col-xs-6">
                            <a href="/Home/Video?id=@(item.Id)&playlistId=@Model.Playlist.Id" class="thumb aspect">
                                <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                                @if (item.Duration.Hours > 0)
                                {
                                    <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                                }
                                else
                                {
                                    <div class="duration">@(item.Duration.ToString(@"mm\:ss"))</div>
                                }
                            </a>
                            <div class="info_holder">
                                <a href="/Home/Video?id=@(item.Id)&playlistId=@Model.Playlist.Id" class="title">@item.Name</a>
                                <div class="info">
                                    <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="description col-xs-12">
            <h2 class="title">
                Նկարագրություն
            </h2>
            <p>
                @Model.Video.Description
                <div class="expand">Show more</div>
            </p>
        </div>
    </div>

    <h2 class="title">
        Related Videos
    </h2>
    <div class="block">
        @foreach (var item in Model.RelatedVideos)
        {
            <div class="video col-md-3 col-sm-4 col-xs-6">
                <a href="/Home/Video?id=@item.Id" class="thumb aspect">
                    <img src="@item.ThumbnailImageLink" alt="@item.ThumbnailImageAlt">
                    <div class="duration">@(item.Duration.ToString(@"hh\:mm\:ss"))</div>
                </a>
                <div class="info_holder">
                    <a href="/Home/Video?id=@item.Id" class="title">@item.Name</a>
                    <div class="info">
                        <a href="/Channel/Index?id=@item.Channel.Id" class="channel">@item.Channel.ChannelName</a>
                        <span class="views">@String.Format("{0:n0}", item.ViewCount) Դիտում</span>
                        <span class="added">@item.UploadedDate.GetRelativeTime()</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var playerInstance = jwplayer("player_holder");
    playerInstance.setup({
        image: "//" + window.location.host + "@Model.Video.ThumbnailImageLink.Replace('\\', '/')",
        width: '100%',
        aspectratio: '16:9',
        sources: [{
            file: "//" + window.location.host + "@Model.Video.Link.Replace('\\', '/')",
            label: "480p"
        }, {
            file: "//" + window.location.host + "@Model.Video.Link.Replace('\\', '/')",
            label: "hidden"
        }],
        skin: {
            url: "/Content/cold.css",
            name: "Cold"
        },
        events: {
            onComplete: function () {
                console.log("player on complete");
                @if (Model.IsPlaylist)
                {
                   @: window.location.replace('/Home/Video?id=' + @Model.Video.Id + '&playlistId=' + @Model.Playlist.Id)
                }
            }
        }
    });
</script>
